<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Horarios</h4>
                        <p class="card-category">Formulario para crear horarios</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="data.hInicio" [ngModelOptions]="{standalone: true}" placeholder="Hora de Inicio" type="time">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="data.hFin" [ngModelOptions]="{standalone: true}" placeholder="Hora de Fin" type="time">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Estado</mat-label>
                                        <mat-select [(ngModel)]="data.estado" [ngModelOptions]="{standalone: true}">
                                            <mat-option *ngFor="let estado of arrayEstado" [value]="estado.id">
                                                {{estado.nombre}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button mat-raised-button type="button" class="btn btn-success" (click)="guardar()">Crear Horario</button>
                                <button mat-raised-button type="submit" class="btn btn-info">Listar Horarios</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- TABLA PARA LISTAR HORARIOS  -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Horarios</h4>
                        <p class="card-category">Listado de horarios registrados y activos</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Hora
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let horario of arrayHorario; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{ horario.horaInicio }} - {{ horario.horaFin }}</td>
                                        <td class="text-primary">{{horario.estado}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>