<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Empresa</h4>
                        <p class="card-category">Formulario para la creación de una empresa</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="data.nit" [ngModelOptions]="{standalone: true}" placeholder="Nit">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="data.nombre" [ngModelOptions]="{standalone: true}" placeholder="Nombre">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="data.direccion" [ngModelOptions]="{standalone: true}" placeholder="Dirección" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="data.telefono" [ngModelOptions]="{standalone: true}" placeholder="Telefono" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="data.email" [ngModelOptions]="{standalone: true}" placeholder="Email" type="email">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Estado</mat-label>
                                        <mat-select [(ngModel)]="data.estado" [ngModelOptions]="{standalone: true}">
                                            <mat-option *ngFor="let estado of arrayEstado" [value]="estado.id">
                                                {{estado.nombre}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right">Listar Empresas</button>
                            <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="guardar()">Crear empresa</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- TABLA PARA LISTAR USUARIOS  -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Empresa</h4>
                        <p class="card-category">Listado de empresas registradas y activas</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Nit
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Dirección
                                    </th>
                                    <th>
                                        Teléfono
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let usuario of arrayEmpresa; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{usuario.nit}}</td>
                                        <td>{{usuario.nombre}}</td>
                                        <td>{{usuario.direccion}}</td>
                                        <td>{{usuario.telefono}}</td>
                                        <td>{{usuario.email}}</td>
                                        <td class="text-primary">{{usuario.estado}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>